:root{

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display_flex{
    display: flex;
}
.display_flex_col{
    display: flex;
    flex-direction: column;
    align-self: center;
}


@font-face {
    font-family: 'poppinsregular';
    src: url('file:///sdcard/hospitalUI/hospitalData/poppins-regular-webfont.woff2') format('woff2'),
         url('file:///sdcard/hospitalUI/hospitalData/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
    font-family: 'poppinsregular';
  text-align: center;

}
body{
    height: 100vh;
}
.wrapper{
    height: 100%;
    width: 100%;
    padding: calc(20/1920 * 100vw);
}
.container{
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.container div{
    width: 100%;
}

.container .first_div{
    height: 27%;
}
.container .first_div > div:nth-child(1){
    height: 80%;
}
.container .first_div > div:nth-child(1) div:nth-child(1) {
    align-items: flex-start;

}
.container .first_div > div:nth-child(1) div:nth-child(3) {
    align-items: flex-end;

}
.container .first_div > div:nth-child(1) div:nth-child(1) p,
.container .first_div > div:nth-child(1) div:nth-child(3) p{
    font-size:calc(30/1920 * 100vw);
}
.container .first_div div:nth-child(1) img{
    width: 34%;
    max-width: 266px;
    height: 100%;
    max-height: 266px;
    margin: 0 auto;
    display: block;
}
.container .first_div > div:nth-child(2){
    background: #5b8cd8;
    padding: 10px;
height: 30%;
}
.container .first_div div:nth-child(2) p{
  font-size: calc(36/1920 * 100vw);
color: white;

}

.container .second_div{
    height: 6%;
    background: #164f9e;
    border-radius: 2px;
    color: white;

}
.container .second_div p{
    padding: calc(10/1920 * 100vw);
}
.container  .second_div p,
.container  .third_div div p
{
    width: 26.6%;
    font-size: calc(34/1920 * 100vw);

}
.container  .second_div p:nth-child(1),
.container  .third_div div p:nth-child(1)
{
    max-width: 10%;
}
.container  .second_div p:nth-child(2),
.container  .third_div div p:nth-child(2)
{
    max-width: 13%;
}
.container .third_div{
    height: 64%;
    border-radius: 2px;

}
.container .third_div div{
    border-bottom: 1px solid #164f9e;

}
.container .third_div div p{
   padding: calc(12/1920 * 100vw);
}